<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/employee" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Employee</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Customers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/region" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Region</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" routerLink ="/product" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Customers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink ="/product/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Region</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/shippers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Shippers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/suppliper" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Suppliper</a>
  </li>
</ul>

